# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Global reviewers for this project
* @andreamussap

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js @js-owner

# Config files
*.html @andreamussap @winghonlai
*.js    @andreamussap @winghonlai
*.toml @andreamussap @winghonlai
*.yml @andreamussap @winghonlai
*.json @andreamussap @winghonlai

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat

# Theme and CMS config files
/layouts/ @andreamussap @winghonlai
/static/admin/ @andreamussap @winghonlai

# Documentation files for AMPCentral
/content/en/docs/central/ @andreamussap
/content/en/docs/catalog/ @andreamussap
/content/en/docs/central/connect-api-manager/ @lbadenhop @cbordier
/content/en/docs/central/connect-aws-gateway/ @lbadenhop @cbordier

# Documentation files for Streams
/content/en/docs/streams/ @andreamussap @allandenis38

# Documentation files for Shared services
/content/en/docs/shared_services/ @andreamussap @danailgrigorov

# Documentation files for APIM
/content/en/docs/api_mgmt_overview/ @andreamussap
/content/en/docs/apigtw_auth_auth/ @andreamussap
/content/en/docs/apigtw_devguide/ @andreamussap
/content/en/docs/apigtw_devops/ @andreamussap
/content/en/docs/apigtw_kerberos/ @andreamussap
/content/en/docs/apim_administration/apigtw_admin/ @andreamussap
/content/en/docs/apim_administration/apimgr_admin/ @andreamussap
/content/en/docs/apim_administration/apimgr_sso/ @andreamussap
/content/en/docs/apim_administration/apiportal_admin/ @andreamussap
/content/en/docs/apim_administration/apiportal_sso/ @andreamussap
/content/en/docs/apim_howto_guides/ @andreamussap
/content/en/docs/apim_installation/apigtw_install/ @andreamussap
/content/en/docs/apim_installation/apigw_containers/ @andreamussap
/content/en/docs/apim_installation/apigw_upgrade/ @andreamussap
/content/en/docs/apim_installation/apiportal_docker/ @andreamussap
/content/en/docs/apim_installation/apiportal_install/ @andreamussap
/content/en/docs/apim_policydev/apigw_external_connections/ @andreamussap
/content/en/docs/apim_policydev/apigw_gw_instances/ @andreamussap
/content/en/docs/apim_policydev/apigw_kps/ @andreamussap
/content/en/docs/apim_policydev/apigw_oauth/ @andreamussap
/content/en/docs/apim_policydev/apigw_poldev/ @andreamussap
/content/en/docs/apim_policydev/apigw_polref/ @andreamussap
/content/en/docs/apim_policydev/apigw_web_services/ @andreamussap
/content/en/docs/apim_reference/ @andreamussap
/content/en/docs/apim_relnotes/*apimgr_relnotes.md @andreamussap
/content/en/docs/apim_relnotes/*apip_relnotes.md @andreamussap
/content/en/docs/apimanager_analytics/ @andreamussap
/content/en/docs/apimanager_capacityguide/ @andreamussap
/content/en/docs/apimgmt_multi_dc/ @andreamussap
/content/en/docs/apimgmt_security/ @andreamussap
/content/en/docs/apiportal_ha/ @andreamussap
/content/en/docs/cass_admin/ @andreamussap
/content/en/docs/glossary/ @andreamussap

# Documentation files for APIM ref arch
/content/en/docs/apim-reference-architectures/ @andreamussap @NComandini @XmasRock @anartovich

# Documentation guidelines and processes
/content/en/docs/contribution_guidelines/ @andreamussap

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
